[package]
authors.workspace = true
description       = "Darwinia SR25519 to ECDSA account migration."
edition.workspace = true
name              = "darwinia-account-migration"
readme            = "README.md"
version.workspace = true

[dependencies]
# crates.io
array-bytes = { workspace = true }
codec       = { workspace = true }
scale-info  = { workspace = true }

# darwinia
darwinia-deposit = { workspace = true }
dc-primitives    = { workspace = true }

# polkadot-sdk
frame-support   = { workspace = true }
frame-system    = { workspace = true }
pallet-assets   = { workspace = true }
pallet-balances = { workspace = true }
sp-core         = { workspace = true }
sp-runtime      = { workspace = true }
# polkadot-sdk optional
frame-benchmarking = { workspace = true, optional = true }

[dev-dependencies]
pallet-timestamp = { workspace = true, features = ["std"] }
sp-io            = { workspace = true, features = ["std"] }
sp-keyring       = { workspace = true, features = ["std"] }
sp-version       = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	# crates.io
	"codec/std",
	"scale-info/std",

	# darwinia
	"darwinia-deposit/std",
	"dc-primitives/std",

	# polkadot-sdk
	"frame-support/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-balances/std",
	"sp-core/std",
	"sp-runtime/std",
	# polkadot-sdk optional
	"frame-benchmarking?/std",
]

runtime-benchmarks = [
	# darwinia
	"darwinia-deposit/runtime-benchmarks",

	# polkadot-sdk
	"frame-benchmarking/runtime-benchmarks",
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
	"pallet-assets/runtime-benchmarks",
	"pallet-balances/runtime-benchmarks",
	"sp-runtime/runtime-benchmarks",
]

try-runtime = [
	# darwinia
	"darwinia-deposit/try-runtime",

	# polkadot-sdk
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"pallet-assets/try-runtime",
	"pallet-balances/try-runtime",
	"sp-runtime/try-runtime",
]
