# Cross Compile Things
osxcross
darwin-x86_64
darwin-x86_64.tar.gz
linux-x86_64
linux-x86_64.tar.gz
windows-x86_64
windows-x86_64.tar.gz

# IDE Things
.idea
.vscode
expand.rs

# macOS Things
.DS_Store

# PM2 Things
.pm2.json

# Rust Things
**/*.rs.bk
**/target/
Cargo.toml.bak
