[dependencies]
error-chain = '0.12'
exit-future = '0.1'
futures = '0.1'
hex-literal = '0.2'
log = '0.4'
parity-codec = '3.3'
parking_lot = '0.7.1'
tokio = '0.1'
trie-root = '0.12.0'

[dependencies.basic-authorship]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-basic-authorship'

[dependencies.consensus]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-consensus-aura'

[dependencies.ctrlc]
features = ['termination']
version = '3.0'

[dependencies.inherents]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-inherents'

[dependencies.network]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-network'

[dependencies.node-template-runtime]
path = 'runtime'

[dependencies.primitives]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-primitives'


[dependencies.substrate-cli]
git = 'https://github.com/paritytech/substrate.git'

[dependencies.substrate-client]
git = 'https://github.com/paritytech/substrate.git'

[dependencies.substrate-executor]
git = 'https://github.com/paritytech/substrate.git'

[dependencies.substrate-service]
git = 'https://github.com/paritytech/substrate.git'

[dependencies.transaction-pool]
git = 'https://github.com/paritytech/substrate.git'
package = 'substrate-transaction-pool'

[build-dependencies]
vergen = '3'

[profile.release]
panic = 'unwind'

[[bin]]
name = 'land-chain'
path = 'src/main.rs'

[workspace]
members = [
	"runtime",
	"srml/support",
	"srml/token/sdr",
	"srml/token/ring",
	"srml/token/kton",
	"srml/try",
]
exclude = ["runtime/wasm"]

[package]
authors = ['Parity Technologies <admin@parity.io>']
build = 'build.rs'
edition = '2018'
name = 'node-template'
version = '1.0.0'

