[package]
name = "node-primitives"
version = "2.0.0"
authors = ["Parity Technologies <admin@parity.io>"]
edition = "2018"

[dependencies]
serde = { version = "1.0", optional = true, features = ["derive"] }
parity-codec = { version = "4.1.1", default-features = false, features = ["derive"] }
primitives = { package = "substrate-primitives", git = 'https://github.com/darwinia-network/substrate.git', default-features = false }
rstd = { package = "sr-std", git = 'https://github.com/darwinia-network/substrate.git', default-features = false }
sr-primitives = { package = "sr-primitives", git = 'https://github.com/darwinia-network/substrate.git', default-features = false }

[dev-dependencies]
substrate-serializer = { git = 'https://github.com/darwinia-network/substrate.git' }
pretty_assertions = "0.5"

[features]
default = ["std"]
std = [
	"parity-codec/std",
	"primitives/std",
	"rstd/std",
	"sr-primitives/std",
	"serde",
]
