[package]
authors.workspace = true
description       = "EVM transaction from the runtime."
edition.workspace = true
name              = "darwinia-ethtx-forwarder"
readme            = "README.md"
version.workspace = true

[dependencies]
# crates.io
codec      = { workspace = true, package = "parity-scale-codec" }
ethereum   = { workspace = true }
scale-info = { workspace = true }

# frontier
fp-ethereum = { workspace = true }
fp-evm      = { workspace = true }
pallet-evm  = { workspace = true }

# moonbeam optional
moonbeam-evm-tracer = { workspace = true, optional = true }
xcm-primitives      = { workspace = true, optional = true }

# polkadot-sdk
frame-support = { workspace = true }
frame-system  = { workspace = true }
sp-core       = { workspace = true }
sp-runtime    = { workspace = true }
sp-std        = { workspace = true }

[dev-dependencies]
# crates.io
array-bytes  = { workspace = true }
libsecp256k1 = { workspace = true, features = ["std"] }
sha3         = { workspace = true }

# frontier
fp-self-contained = { workspace = true, features = ["std"] }
pallet-ethereum   = { workspace = true, features = ["std"] }

# polkadot-sdk
pallet-balances  = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }
sp-io            = { workspace = true, features = ["std"] }
sp-runtime       = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	# crates.io
	"codec/std",
	"ethereum/std",
	"scale-info/std",

	# frontier
	"fp-ethereum/std",
	"fp-evm/std",
	"pallet-evm/std",

	# moonbeam optional
	"moonbeam-evm-tracer?/std",
	"xcm-primitives?/std",

	# polkadot-sdk
	"frame-support/std",
	"frame-system/std",
	"sp-core/std",
	"sp-runtime/std",
	"sp-std/std",
]

runtime-benchmarks = [
	# frontier
	"pallet-evm/runtime-benchmarks",

	# moonbeam
	"xcm-primitives?/runtime-benchmarks",

	# polkadot-sdk
	"frame-support/runtime-benchmarks",
	"frame-system/runtime-benchmarks",
]

try-runtime = [
	# frontier
	"pallet-evm/try-runtime",

	# polkadot-sdk
	"frame-support/try-runtime",
	"frame-system/try-runtime",
	"sp-runtime/try-runtime",
]

evm-tracing = [
	# moonbeam
	"moonbeam-evm-tracer",
	"xcm-primitives",
]
