[package]
authors.workspace = true
description       = "Darwinia Common Runtime"
edition.workspace = true
name              = "darwinia-common-runtime"
readme            = "README.md"
version.workspace = true

[dependencies]
# crates.io
codec    = { workspace = true, package = "parity-scale-codec" }
smallvec = { version = "1.10" }

# darwinia
darwinia-precompile-assets = { workspace = true }
dc-primitives              = { workspace = true }

# darwinia-messages-substrate
bp-darwinia-core = { workspace = true }

# frontier
pallet-evm = { workspace = true }

# moonbeam
account = { workspace = true }

# polkadot
xcm          = { workspace = true }
xcm-builder  = { workspace = true }
xcm-executor = { workspace = true }

# substrate
frame-support     = { workspace = true }
frame-system      = { workspace = true }
pallet-assets = { workspace = true }
pallet-balances   = { workspace = true }
pallet-collective = { workspace = true }
pallet-treasury   = { workspace = true }
sp-core           = { workspace = true }
sp-io             = { workspace = true }
sp-runtime        = { workspace = true }
sp-std            = { workspace = true }

[features]
default = ["std"]
std = [
	# crates.io
	"codec/std",

	# darwinia
	"darwinia-precompile-assets/std",
	"dc-primitives/std",

	# darwinia-messages-substrate
	"bp-darwinia-core/std",

	# frontier
	"pallet-evm/std",

	# moonbeam
	"account/std",

	# polkadot
	"xcm/std",
	"xcm-builder/std",
	"xcm-executor/std",

	# substrate
	"frame-support/std",
	"frame-system/std",
	"pallet-assets/std",
	"pallet-balances/std",
	"pallet-collective/std",
	"pallet-treasury/std",
	"sp-core/std",
	"sp-io/std",
	"sp-runtime/std",
	"sp-std/std",
]

test = []

runtime-benchmarks = [
	"pallet-assets/runtime-benchmarks"
]
