[package]
authors     = ["Darwinia Network <hello@darwinia.network>"]
description = "Darwinia node."
edition     = "2021"
homepage    = "https://darwinia.network"
license     = "GPL-3.0"
name        = "darwinia"
readme      = "README.md"
repository  = "https://github.com/darwinia-network/darwinia"
version     = "6.0.0"

[build-dependencies]
substrate-build-script-utils = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }

[dependencies]
# crates.io
array-bytes = { version = "6.0" }
async-trait = { version = "0.1" }
clap        = { version = "4.0", features = ["derive"] }
codec       = { package = "parity-scale-codec", version = "3.3" }
futures     = { version = "0.3" }
jsonrpsee   = { version = "0.16", features = ["server"] }
log         = { version = "0.4" }
serde       = { version = "1.0", features = ["derive"] }

# cumulus
cumulus-client-cli                    = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-client-collator               = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-client-consensus-aura         = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-client-consensus-common       = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-client-network                = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-client-service                = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-primitives-core               = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-primitives-parachain-inherent = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }
cumulus-relay-chain-interface         = { git = "https://github.com/paritytech/cumulus.git", branch = "polkadot-v0.9.36" }

# darwinia
crab-runtime     = { optional = true, path = "../runtime/crab" }
darwinia-runtime = { optional = true, path = "../runtime/darwinia" }
dc-primitives    = { path = "../core/primitives" }
pangolin-runtime = { optional = true, path = "../runtime/pangolin" }

# frontier
fc-cli          = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fc-consensus    = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fc-db           = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fc-mapping-sync = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fc-rpc          = { features = ["rpc_binary_search_estimate"], git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fc-rpc-core     = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fp-evm          = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fp-rpc          = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }
fp-storage      = { git = "https://github.com/darwinia-network/frontier", branch = "polkadot-v0.9.36" }

# polkadot
polkadot-cli        = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.36" }
polkadot-parachain  = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.36" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.36" }
polkadot-service    = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.36" }
xcm                 = { git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.36" }

# substrate
frame-benchmarking             = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
frame-benchmarking-cli         = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
pallet-transaction-payment-rpc = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-basic-authorship            = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-chain-spec                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-cli                         = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-client-api                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-consensus                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-consensus-aura              = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-executor                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-keystore                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-network                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-network-common              = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-offchain                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-rpc                         = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-rpc-api                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-service                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-sysinfo                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-telemetry                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-tracing                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-transaction-pool            = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sc-transaction-pool-api        = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-api                         = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-block-builder               = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-blockchain                  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-consensus                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-consensus-aura              = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-core                        = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-inherents                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-io                          = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-keystore                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-offchain                    = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-runtime                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-session                     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-timestamp                   = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
sp-transaction-pool            = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
substrate-frame-rpc-system     = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
substrate-prometheus-endpoint  = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }
try-runtime-cli                = { optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.36" }

[features]
default = [
	"crab-native",
	"darwinia-native",
]

fast-runtime = [
	# darwinia
	"crab-runtime?/fast-runtime",
	"darwinia-runtime?/fast-runtime",
	"pangolin-runtime?/fast-runtime",
]

runtime-benchmarks = [
	# darwinia
	"crab-runtime?/runtime-benchmarks",
	"darwinia-runtime?/runtime-benchmarks",
	"pangolin-runtime?/runtime-benchmarks",

	# polkadot
	"polkadot-cli/runtime-benchmarks",
]

try-runtime = [
	# darwinia
	"crab-runtime?/try-runtime",
	"darwinia-runtime?/try-runtime",
	"pangolin-runtime?/try-runtime",

	# substrate
	"try-runtime-cli/try-runtime",
]

all-natives = [
	# darwinia
	"crab-native",
	"darwinia-native",
	"pangolin-native",
]
crab-native = [
	# darwinia
	"crab-runtime",

	# polkadot
	"polkadot-cli/kusama-native",
]
darwinia-native = [
	# darwinia
	"darwinia-runtime",

	# polkadot
	"polkadot-cli/polkadot-native",
]
pangolin-native = [
	# darwinia
	"pangolin-runtime",

	# polkadot
	"polkadot-cli/rococo-native",
]
