[package]
authors.workspace = true
description       = "State storage precompile for EVM pallet."
edition.workspace = true
name              = "darwinia-precompile-state-storage"
readme            = "README.md"
version.workspace = true

[dependencies]
# frontier
fp-evm     = { workspace = true }
pallet-evm = { workspace = true }

# moonbeam
precompile-utils = { workspace = true }

# polkadot-sdk
frame-support = { workspace = true }
sp-std        = { workspace = true }

[dev-dependencies]
# crates.io
codec      = { workspace = true, package = "parity-scale-codec", features = ["std"] }
scale-info = { workspace = true, features = ["std"] }

# moonbeam
precompile-utils = { workspace = true, features = ["std", "testing"] }

# polkadot-sdk
frame-system     = { workspace = true, features = ["std"] }
pallet-balances  = { workspace = true, features = ["std"] }
pallet-timestamp = { workspace = true, features = ["std"] }
sp-core          = { workspace = true, features = ["std"] }
sp-io            = { workspace = true, features = ["std"] }
sp-runtime       = { workspace = true, features = ["std"] }

[features]
default = ["std"]
std = [
	# frontier
	"fp-evm/std",
	"pallet-evm/std",

	# moonbeam
	"precompile-utils/std",

	# polkadot-sdk
	"frame-support/std",
	"sp-std/std",
]
