name: CI
on:
  push:
    branches:
      - develop
      - master
  pull_request:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v2

      - name: Install latest nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          target: wasm32-unknown-unknown

      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Lint and prepare
        run: .maintain/ci/format.sh

      - name: Build
        env:
          RUST_TOOLCHAIN: nightly
        run: .maintain/ci/build.sh

      - name: Overall test
        env:
          RUST_TOOLCHAIN: nightly
        run: cargo test
